<!-- <html>
    <head>
        <title><%= title%></title>
    </head>
    <body>
        <header>
            page header
        </header> --> 
        <link rel="stylesheet" href="/css/user_profile.css">
        <!-- <h1>This is user profile pages</h1> -->
        <div id ="userDetails">
          <div id ="user_image">
            <img id ="pic"src="<%= user.avatar%>" alt="<%= user.Name %>" width ="100">
          </div>
        <!-- how the user is written this ask this issue -->
        <!-- <embed src="<%= user.avatar%>.pdf" width="500" height="375" type="application/pdf"> -->
            <div id ="userData">

                <% if(user.id == profile_user.id){ %>
                    <!-- if user match then show the form  -->
        
                    <form action="/user/update/<%= profile_user.id %>" , method ="POST" , enctype="multipart/form-data">
                        <div  class ="profile1">
                            <label for="profile">Profile Pic.:</label>
                        <input id ="profile" type="file" name="Avtar" placeholder="profile pic">
                        </div>
                        <div class ="name1">
                            <label for="name">Name:</label>
                    <input id ="name" type="text" name ="name" , placeholder="Your Name" value ="<%= profile_user.Name %>" required>
                        </div>
                        <div class ="email1">
                            <label for="email">Email:</label>
                            <input id ="email" type="email" name ="email" , placeholder="Your Email" value ="<%= profile_user.Email %>" required>
                        </div>
                        <div class ="button1">
                            <input id ="button" type="submit" value="update">
                        </div>  
                    
                </form>
                    <% }else{ %>
                        <!-- else show the profile info -->
                        <div class="profile1"><span>Name : </span><%= profile_user.Name %></div>
                        <div class ="email1"><span>Email : </span><%= profile_user.Email %></div>
                        <% } %>

            </div>
        
        </div>
        
        <!-- <p>Email :<%= user.Email%></p> -->
        <!-- <a href="/user/delete-cookie">signout</a> -->
         <!-- <footer>
            Page footer
        </footer>
    </body>
</html> -->